#container-carrinho{
    display: flex;
    flex-direction: row;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

#container-carrinho.ativado{
    transform: translateX(0);
}

.img-produto-carrinho{
    width: 100px;
    
}

.carrinho-item{
    border: solid black 2px;
    width: fit-content;
}