#produto-display-and-options{
  box-sizing: border-box ;
  background-color: wheat;
  border: 1px solid #555;
}

#produto-display{
  max-width: 480px;
}   
#produto-display #image-container img{
  display: block;
  width:100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
#produto-display #image-container{
  overflow:hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}
#produto-display p{
  font-size: 1rem;
}
#quantidade-carrinho-pedido-display{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#add-carrinho-button{
  background-color: #f3f3f3;
  border: solid black 1px;
  padding: clamp(2px, 0.4rem, 8px);
  order: 2;
  transition: background-color 0.3s;
}
#add-carrinho-button:active{
  background-color: green;
}
#voltar{
  background: grey;
  color:wheat;
  text-decoration: none;
}
#nao-encontrado{
  text-decoration: black underline;
}
#quantidade-wrapper{
  width: fit-content;
  display: flex;
  justify-content: center;
}
#quantidade-wrapper .step-button{
  background-color: white;;
  box-sizing: border-box;
  padding: clamp(2px, 0.4rem, 8px);
  border: 1px solid black;
}
#quantidade-wrapper > input{
  width:8ch;
}