
header{
    display: flex;
    flex-direction: row;
    background-color: #000;
}

header ul {
    list-style: none;
}
#produtos{
    min-width: 100vw;
    
    display: flex;
    flex-direction: row;
}