
#produtos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1px;
}

.produto{
    border: #ccc 1px solid;
    min-height: 100%;
    border-radius: 8px;
    padding: 12px;
    text-decoration: none;
    color: inherit;
    display: block; 
}
.produto p{
    font-size: 1rem;
    margin: 8px 4px;
    background: lightblue;
}
.produto  img {
    width: 100%;
    border-radius: 4px;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.produto >.price{
    color: #555;
}
.produto:hover{
    border-color: black;
}

#mostrar-botao{
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    transition: background-color 0.1s;
    padding: 8px 4px;
}
#mostrar-botao:active{
    background: grey;
}
